# Local data (Managed by Docker volumes)
db-data/
vtiger-data/

# The large installer file
*.tar
*.zip

# vTiger internal dynamic files (if mapped locally)
logs/
storage/
cache/
test/
user_privileges/

# Security & Backups
config.inc.php
config_override.php
*.sql

# ALLOW the base setup file specifically
!vtiger_base_setup.sql

# Windows System Files
[Dd]esktop.ini
Thumbs.db

# Claude
claude.md
.claude/
claude-logs/
_bmad/