services:
  vtiger:
    build: .
    container_name: omnir_crm_app
    restart: always
    user: "1000:1000"
    ports:
      - "8080:80"
    environment:
      - VT_DB_HOST=db
      - VT_DB_NAME=${DB_NAME}
      - VT_DB_USER=${DB_USER}
      - VT_DB_PASSWORD=${DB_PASSWORD}
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: omnir_crm_db
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./db-data:/var/lib/mysql
